/* Button Style Start */
.btn {
    @apply flex justify-center items-center align-middle relative duration-300 cursor-pointer overflow-hidden;
    transform: perspective(1px) translateZ(0);
    transition-property: color;

    &::before {
        content: "";
        @apply absolute -z-[1] top-0 bottom-0 left-0 right-0 origin-[0_50%] duration-300 ease-initial;
        transform: scaleX(0);
        transition-property: transform;
    }

    &:hover,
    &:focus,
    &:active {
        &::before {
            transform: scaleX(1);
        }
    }
}

.btn-link {
    span {
        @apply relative;

        &::before {
            content: '';
            @apply absolute bottom-0 left-0 w-0 h-[2px] bg-accent ease-out duration-300;
        }
    }

    &:hover,
    &:focus,
    &:active {
        @apply no-underline;

        span::before {
            @apply w-full;
        }
    }
}

/* Button Style End */

@utility container {
    @apply mx-auto max-w-full sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px];
}